<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <div class="footer-content">
        <div class="footer-social">
            <a href="https://www.facebook.com/"><img src="/img/facebook.png" alt="Facebook" width="100px" height="100px"></a>
            <a href="https://www.instagram.com/"><img src="/img/instagram.png" alt="Instagram" width="100px" height="100px"></a>
            <a href="https://web.whatsapp.com/"><img src="/img/Whatsapp.png" alt="Whatsapp" width="100px" height="100px"></a>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 SergAnjhell. All rights reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>