<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/99f2056fb3.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="body">
    <section class="sectionDataSave">
        <article th:insert="fragments/header.html :: header" class="headerDataSave"></article>
        <article th:insert="fragments/table.html :: table"></article>
        <article th:insert="fragments/footer.html :: footer"></article>
    </section>
</div>
</body>
</html>